.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.m-auto {
  margin: auto;
}

.login-card {
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.login-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

mat-card-title,
mat-card-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

mat-card-content {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

mat-spinner {
  margin-right: 10px;
}
