<mat-toolbar color="primary">
  <span class="toolbar-title">Bookbuddy Public Library</span>
  <span class="spacer"></span>
  <a mat-mini-fab routerLink="/cart">{{ oncart() }}Cart</a>
  <ng-container *ngIf="!isAuthenticated()">
  <a mat-button routerLink="/login">Login</a>
  <a mat-button routerLink="/register">Register</a>
  </ng-container>
  <a mat-button routerLink="/books">Books</a>
  <ng-container *ngIf="isAuthenticated()">
    <button (click)="logout()" class="mx-4">Logout</button>
</ng-container>
</mat-toolbar>


<router-outlet/>

