<mat-toolbar color="primary" class="flex justify-content-between">
  Bookbuddy Public Library

  <a routerLink="" href="" mat-stroked-button>Home</a>
  <a routerLink="" href="" mat-stroked-button>About Us</a>
  <a routerLink="" href="" mat-stroked-button>Shop</a>
  <a routerLink="" href="" mat-stroked-button>Register</a>
  <div>
    <a routerLink="login" href="" mat-stroked-button>Login</a>
  </div>
</mat-toolbar>
<router-outlet/>
<mat-toolbar color="primary" class="">
  <mat-list>
      <mat-list-item > Thank you </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item > @copy rigits 2023</mat-list-item>
  </mat-list>
 </mat-toolbar>
