<nav>
  <a>Home</a>
  <a>Services</a>
  <a>About us</a>
  <a>Login</a>
</nav>

<div class="body" style="background-color: white">
  <div class="side-nav">
    <label><h3>Student Dashboard</h3></label>
    <br />
    <li>
      <a>Student</a>
    </li>
    <li>
      <a>Payroll</a>
    </li>
    <li>
      <a>Attendance</a>
    </li>
    <li>
      <a>Fincial</a>
    </li>
  </div>

<div class="content">
  <h1>Student Data </h1>
  <br />
  <table>
    <tr>
      <th>ID</th>
      <th>Student Name</th>
      <th>Student class</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{ student.studentid }}</td>
      <td>{{ student.studentclass }}</td>
      <td>{{ student.studentname }}</td>
      <td><button class="primary-btn-rd">Delete</button></td>
      <td><button class="primary-btn-ls">Update</button></td>

    </tr>
  </table>

  <br />
  <br />
  <br />
  <button class="primary-btn" (click)="onAdd()">Add</button>
  <button class="primary-btn" (click)="onDelete()">Delete</button>
  <button class="primary-btn">Update</button>
  <button class="primary-btn">refresh</button>
</div>
</div>
